<footer class="footer text-centered">
	<div class="navbar">
	{% if page.previous.url != nil %}
	<a href="{{ site.baseurl }}{{ page.previous.url }}" title="Artículo anterior" role="link" aria-label="Artículo anterior"><span class="fas fa-arrow-left fa-lg"></span><span class="sr-only">Artículo anterior</span></a>
	{% endif %}
	{% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" title="Artículos anteriores" role="link" aria-label="Artículos anteriores"><span class="fas fa-arrow-left fa-lg"></span><span class="sr-only">Artículos anteriores</span></a>
	{% endif %}
	<a href="#up" title="Volver arriba" role="link" aria-label="Volver arriba"><span class="fas fa-arrow-alt-circle-up fa-lg"></span><span class="sr-only">Volver arriba</span><span class="sr-only">Volver arriba</span></a>
	{% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" title="Artículos siguientes" role="link" aria-label="Artículos siguientes"><span class="fas fa-arrow-right fa-lg"></span><span class="sr-only">Artículos siguientes</span></a>
	{% endif %}
	{% if page.next.url != nil %}
	<a href="{{ site.baseurl }}{{ page.next.url }}" title="Artículo siguiente" role="link" aria-label="Artículo siguiente"><span class="fas fa-arrow-right fa-lg"></span><span class="sr-only">Artículo siguiente</span></a>
	{% endif %}
	</div>
	<p>Lorem ipsum dolor sit amet.</p>
</footer>	