<header role="banner">
	<h1 class="title" role="heading" aria-level="1"><a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<p class="subtitle" aria-label="Subtítulo del sitio">{{ site.subtitle }}</p>
	<hr role="separator">
	{% include navbar.html %}
</header>