	<nav>
		<ul class="navbar">
			<li><a href="{{ site.url }}{{ site.baseurl }}/" title="Página de inicio" role="link" aria-label="Página de inicio"><span class="icon fas fa-home"></span><span class="sr-only">Página de inicio</span></a></li>
			<li><a href="https://twitter.com/{{ site.twitter_user }}" target="_blank" title="Twitter de @{{ site.twitter_user }}" role="link" aria-label="Enlace de twitter"><span class="icon fab fa-twitter"></span><span class="sr-only">Twitter de @{{ site.twitter_user }}</span></a></li>
			<li><a href="https://gitlab.com/{{ site.gitlab_user }}" target="_blank" title="Gitlab de {{ site.gitlab_user }}" role="link" aria-label="Enlace de Gitlab"><span class="icon fab fa-gitlab"></span><span class="sr-only">Gitlab de {{ site.github_user }}</span></a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/about/" title="Acerca de {{ site.author }}" role="link" aria-label="Acerca del autor"><span class="icon fas fa-user-circle"></span><span class="sr-only">Acerca de {{ site.author }}</span></a></li>
		</ul>
	</nav>