.button{
	transition: .25s;
	text-transform: capitalize;
	font-weight: normal;
	font-size: 1.2rem;
}
.button-outline{
	border-color: #6E6C76;
	color: #6E6C76!important;
}
.button-outline:hover{
	color: #ffffff!important;
	background-color:#6E6C76!important;;
}