html{
	scroll-behavior: smooth;
}
body{
	max-width: 440px;
	margin: 0 auto;
	padding: 16px 32px;
}

table{
	overflow-x: scroll;
}
h1.title{
	text-align: center;
}
h1.title>a{
	color: inherit;
}
h1.title + .subtitle{
	margin-top: -1rem;
	text-align: center;
	font-size: 2rem;
}

pre{
	border-left: none;
}
a{
	transition: .25s;
}
a:hover, a:active, a:focus, .icon:hover, .icon:active, .icon:focus{
	color: #9B4DCA!important;
}

.text-centered{
	text-align: center;
}
.icon{
	color: #606C76;
	font-size: 2rem;
	transition: .25s;
}
