.post-title{
	font-size: 2.5rem;
	color: inherit;
}
.post-title>a{
	color:inherit;
}
.meta{
	margin-bottom: 0;
}
.post-image{
	margin: 0rem 0 2rem 0;
}
.post-image>img{
	border-radius: 2px;
	width: 100%;
	height: auto;
}