---
layout: default
---
<article class="post" role="article" aria-label="Acerca del autor">
	<header>
		<h2 class="post-title about" role="heading" aria-level="2">{{ site.author }}</h2>
	</header>
	<figure class="image about" role="figure">
		<img src="{{ page.image_profile }}" alt="Imágen del autor" role="img" aria-label="Imágen del autor">
	</figure>
	{{ content }}
	<footer>
	</footer>	
</article>
