---
layout: default
---

{% if site.posts %}
<section class="posts" role="doc-toc" aria-label="Artículos">
	{% for post in paginator.posts %}
	<article role="article" aria-label="Artículo {{ post.title }}">
		<header role="complementary">
			<h2 class="post-title"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
			<span class="date">
				<time timedate="{{ post.date }}"><small>{{ post.date | date_to_long_string: "ES"}}</small></time>
			</span>	
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius animi autem ab dignissimos incidunt rerum, illo delectus sit assumenda quas porro nesciunt aspernatur iusto, ullam. Rerum praesentium, ab quas vero!</p>
		<p>
			<a class="button button-outline" href="{{ site.baseurl }}{{ post.url }}" role="link" aria-label="Leer más">Leer más&hellip;</a>
		</p>
		<hr>
	</article>
	{% endfor %}
</section>
{% endif %}