<!DOCTYPE html>
<html lang="es" id="up">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} {{ site.title }} - {{ site.subtitle }}{% endif %}</title>
	{% seo %}
{% feed_meta %}
</head>
<body>
{% include header.html %}
{{ content }}
{% include footer.html %}
</body>
</html>