---
layout: default
---
<main role="main">
	<article class="post" role="article" aria-label="Artículo">
		<header role="complementary">
			<h2 class="post-title" role="heading" aria-level="2">{{ page.title }}</h2>
			<p class="meta">
				<span aria-label="Autor">Por: {{ page.author }}</span>
				<br>
				<span class="date">
					<small><time datetime="{{ page.date }}" aria-label="Fecha de publicación">{{ page.date | date: "%A %-d %B, %Y" }}</time></small>
				</span>	
			</p>
		{% if page.image %}
			<figure class="post-image">
				<img src="{{ page.image }}" alt="{{ page.title }} imágen" title="{{ page.title }} imágen">
			</figure>
		{% endif %}
		</header>
		{{ content }}
		<footer>
		</footer>	
	</article>
</main>